In [1]:
import pandas as pd 
from datetime import datetime as dt

In [2]:
shootings = pd.read_csv('shootings.csv')
arrests = pd.read_csv('arrests.csv', sep=';')

In [3]:
shootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [4]:
arrests.head()

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total.1,White.1,Black or\nAfrican\nAmerican.1,American\nIndian or\nAlaska\nNative.1,Asian.1,Native\nHawaiian\nor Other\nPacific\nIslander.1,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total.2,Hispanic\nor\nLatino.1,Not\nHispanic\nor Latino.1
0,TOTAL,7.710.900,5.319.654,2.115.381,164.430,92.737,18.698,"100,0","69,0","27,4","2,1","1,2","0,2",6.343.684,1.191.334,5.152.350,"100,0","18,8","81,2"
1,Murder and nonnegligent manslaughter,8.957,3.953,4.778,105.000,94.000,27.000,"100,0","44,1","53,3","1,2","1,0","0,3",7.050,1.472,5.578,"100,0","20,9","79,1"
2,Rape3,18.776,12.794,5.376,267.000,289.000,50.000,"100,0","68,1","28,6","1,4","1,5","0,3",15.316,4.090,11.226,"100,0","26,7","73,3"
3,Robbery,66.789,29.025,36.187,676.000,641.000,260.000,"100,0","43,5","54,2","1,0","1,0","0,4",57.048,12.823,44.225,"100,0","22,5","77,5"
4,Aggravated assault,298.040,184.527,100.393,6.736,5.078,1.306,"100,0","61,9","33,7","2,3","1,7","0,4",254.614,65.056,189.558,"100,0","25,6","74,4"

In [5]:
shootings['year'] = pd.to_datetime(shootings['date'], format='%Y-%m-%d').dt.year

In [6]:
shootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,year
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,2015
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,2015
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,2015
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,2015
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,2015

In [9]:
len(shootings[(shootings.year == 2018) & (shootings.race == 'B')])

229

In [10]:
len(shootings[(shootings.year == 2018) & (shootings.race == 'W')])

451

In [11]:
len(shootings[shootings.race == 'B'])

1265

In [12]:
len(shootings[shootings.race == 'W'])

2416

In [14]:
shootings.race.value_counts()

W    2416
B    1265
H     889
A      93
N      77
O      47
Name: race, dtype: int64

In [15]:
shootings[shootings.year == 2018].race.value_counts()

W    451
B    229
H    165
A     21
N     15
O      4
Name: race, dtype: int64