In [1]:
import pandas as pd

In [4]:
deaths = pd.read_csv('mortality.csv', sep=';')

In [5]:
deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678635 entries, 0 to 678634
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   arr     678635 non-null  int64
 1   prov    678635 non-null  int64
 2   region  678635 non-null  int64
 3   sex     678635 non-null  int64
 4   age     678635 non-null  object
 5   date    678635 non-null  object
 6   year    678635 non-null  int64
 7   week    678635 non-null  object
 8   deaths  678635 non-null  int64
dtypes: int64(6), object(3)
memory usage: 46.6+ MB

In [6]:
deaths.head()

     arr   prov  region  sex    age        date  year      week  deaths
0  11000  10000    2000    1  45-64  01/01/2009  2009  2009-W01       3
1  11000  10000    2000    1  65-74  01/01/2009  2009  2009-W01       3
2  11000  10000    2000    1  75-84  01/01/2009  2009  2009-W01       6
3  11000  10000    2000    1    85+  01/01/2009  2009  2009-W01       5
4  11000  10000    2000    2  65-74  01/01/2009  2009  2009-W01       1

In [7]:
deaths[deaths.duplicated()]

Empty DataFrame
Columns: [arr, prov, region, sex, age, date, year, week, deaths]
Index: []

In [9]:
deaths.arr.unique()

array([11000, 12000, 13000, 23000, 24000, 31000, 32000, 33000, 34000,
       35000, 36000, 37000, 38000, 41000, 42000, 43000, 44000, 45000,
       46000, 71000, 72000, 73000, 25000, 51000, 52000, 53000, 55000,
       56000, 57000, 58000, 61000, 62000, 63000, 64000, 81000, 82000,
       83000, 84000, 85000, 91000, 92000, 93000, 21000])

In [13]:
g = deaths.groupby('arr')

In [ ]:
g.apply(lambda x: x[(x["date"].str.contains('01/03'))])