In [2]:
import pandas as pd

In [3]:
reviews = pd.read_csv('reviews.csv')

In [4]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259103 entries, 0 to 259102
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   locatie           259103 non-null  object
 1   attractie         259103 non-null  object
 2   locatie_reviewer  259093 non-null  object
dtypes: object(3)
memory usage: 5.9+ MB

In [5]:
reviews.head()

   locatie              attractie    locatie_reviewer
0  Brussel  Grote Markt (Brussel)    Overijse, België
1  Brussel  Grote Markt (Brussel)     Bergamo, Italië
2  Brussel  Grote Markt (Brussel)   Rijsel, Frankrijk
3  Brussel  Grote Markt (Brussel)    Chicago vicinity
4  Brussel  Grote Markt (Brussel)  Liedekerke, België

In [6]:
reviews = reviews.dropna()

In [7]:
head = reviews.head()

In [13]:
import requests
column = []
for index, row in head.iterrows():
    locatie = row['locatie']
    reviewers = row['locatie_reviewer']
    url = 'https://nl.afstand.org/route.json?stops={}|{}'.format(locatie, reviewers)
    response = requests.get(url)
    distance = response.json()
    column.append(distance['distance'])

In [8]:
len(reviews[~reviews.locatie_reviewer.str.contains(',', regex=False)])

26178

In [9]:
reviews[(~reviews.locatie_reviewer.str.contains(',')) & (reviews.locatie_reviewer.str.contains('Antwerp'))]

          locatie                          attractie locatie_reviewer
12683     Brussel              Grote Markt (Brussel)          Antwerp
22401     Brussel             Koninklijk Legermuseum        Antwerpen
24428     Brussel             Koninklijk Legermuseum        Antwerpen
31654     Brussel  Les Galeries Royales Saint-Hubert          Antwerp
34938     Brussel  Les Galeries Royales Saint-Hubert          Antwerp
...           ...                                ...              ...
253208  Antwerpen  Sint-Annatunnel Voetgangerstunnel        Antwerpen
253381  Antwerpen  Sint-Annatunnel Voetgangerstunnel          Antwerp
253416  Antwerpen  Sint-Annatunnel Voetgangerstunnel          Antwerp
253459  Antwerpen  Sint-Annatunnel Voetgangerstunnel        Antwerpen
255523   Kortrijk                      K in Kortrijk        Antwerpen

[281 rows x 3 columns]

In [12]:
reviews['local'] = reviews.locatie_reviewer.str.contains(str(reviews.locatie))

In [13]:
reviews.head()

   locatie              attractie    locatie_reviewer  local
0  Brussel  Grote Markt (Brussel)    Overijse, België  False
1  Brussel  Grote Markt (Brussel)     Bergamo, Italië  False
2  Brussel  Grote Markt (Brussel)   Rijsel, Frankrijk  False
3  Brussel  Grote Markt (Brussel)    Chicago vicinity  False
4  Brussel  Grote Markt (Brussel)  Liedekerke, België  False

In [20]:
reviews.groupby('locatie').apply(lambda x: (x['local'] == True).count())

locatie
Aalst           169
Adinkerke        16
Antwerpen     25251
Beringen        185
Beveren          35
              ...
Willebroek      317
Zaventem          2
Zeebrugge        60
Zonnebeke      1332
Zutendaal       213
Length: 69, dtype: int64

In [21]:
reviews[reviews.locatie == 'Aalst']

       locatie          attractie                 locatie_reviewer  local
204115   Aalst          Stadspark                    Aalst, België  False
204116   Aalst          Stadspark                 Haaltert, België  False
204117   Aalst          Stadspark                    Aalst, België  False
204118   Aalst          Stadspark                    Aalst, België  False
204119   Aalst          Stadspark                    Aalst, België  False
...        ...                ...                              ...    ...
230310   Aalst  Sint-Martinuskerk              Erembodegem, België  False
230311   Aalst  Sint-Martinuskerk  Aalst, Oost-Vlaanderen, Belgium  False
230312   Aalst  Sint-Martinuskerk                            Aalst  False
230313   Aalst  Sint-Martinuskerk                            aalst  False
230314   Aalst  Sint-Martinuskerk                    Aalst, België  False

[169 rows x 4 columns]