In [370]:
import pandas as pd

In [371]:
reviews = pd.read_csv('reviews.csv')
attracties = pd.read_csv('attracties.csv')

In [372]:
pd.set_option('display.max_rows', 30)

In [373]:
attracties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2959 entries, 0 to 2958
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   locatie         2959 non-null   object
 1   attractie       2959 non-null   object
 2   aantal_reviews  2959 non-null   int64
 3   rating          2959 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 92.6+ KB

In [374]:
attracties[(attracties.duplicated()) & (attracties.locatie != 'Onbekende locatie') & (attracties.attractie != 'Onbekende attractie')]

Empty DataFrame
Columns: [locatie, attractie, aantal_reviews, rating]
Index: []

In [375]:
attracties.attractie.nunique()

2895

In [376]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362407 entries, 0 to 362406
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   locatie           362407 non-null  object
 1   attractie         362407 non-null  object
 2   locatie_reviewer  362398 non-null  object
dtypes: object(3)
memory usage: 8.3+ MB

In [377]:
reviews.head()

   locatie              attractie    locatie_reviewer
0  Brussel  Grote Markt (Brussel)    Overijse, België
1  Brussel  Grote Markt (Brussel)     Bergamo, Italië
2  Brussel  Grote Markt (Brussel)   Rijsel, Frankrijk
3  Brussel  Grote Markt (Brussel)    Chicago vicinity
4  Brussel  Grote Markt (Brussel)  Liedekerke, België

In [378]:
reviews = reviews.dropna()

In [379]:
reviews['local'] = reviews.apply(lambda x: x.locatie.casefold() in x.locatie_reviewer.casefold(), axis=1)

In [380]:
reviews[reviews.local == True].head()

     locatie              attractie locatie_reviewer  local
10   Brussel  Grote Markt (Brussel)  Brussel, België   True
83   Brussel  Grote Markt (Brussel)  Brussel, België   True
93   Brussel  Grote Markt (Brussel)  Brussel, België   True
99   Brussel  Grote Markt (Brussel)  Brussel, België   True
110  Brussel  Grote Markt (Brussel)  Brussel, België   True

In [381]:
reviews.locatie.nunique()

545

In [382]:
reviews.locatie.unique()

array(['Brussel', 'Brugge', 'Antwerpen', 'Gent', 'Oostende', 'Leuven',
       'Ieper (Ypres)', 'Hasselt', 'Mechelen', 'Blankenberge', 'De Panne',
       'Kortrijk', 'Knokke-Heist', 'Tongeren', 'Genk', 'Lommel',
       'Maasmechelen', 'Zeebrugge', 'Onbekende locatie', 'Nieuwpoort',
       'De Haan', 'Vlezenbeek', 'Tessenderlo', 'Mol', 'Vlaams-Brabant',
       'Halle', 'Groot-Bijgaarden', 'Roeselare', 'Koksijde',
       'Middelkerke', 'Aalst', 'Lichtaart', 'Oostduinkerke',
       'Sint-Niklaas', 'Lier', 'Sint-Truiden', 'Bredene', 'Adinkerke',
       'Oudenaarde', 'Wijnegem', 'Poperinge', 'Machelen', 'Borgloon',
       'Beveren', 'Dilbeek', 'Willebroek', 'Knokke', 'Maaseik',
       'Turnhout', 'Geel', 'Diksmuide', 'Beringen', 'Boom', 'Zutendaal',
       'Geraardsbergen', 'Grimbergen', 'Houthalen', 'Dadizele', 'Bilzen',
       'Veurne', 'Menen', 'Brasschaat', 'Peer', 'Herentals', 'Lanaken',
       'Zaventem', 'Damme', 'Westvleteren', 'Zonnebeke', 'Edegem',
       'Heusden-Zolder', 'Riemst', 'Londerzeel', 'Meise', 'Diest',
       'Dendermonde', 'Destelbergen', 'Kasterlee', 'Watou', 'Stekene',
       'Tervuren', 'Gaasbeek', 'Deinze', 'Puurs', 'Zillebeke', 'Werchter',
       'Tongerlo', 'Dessel', 'Maldegem', 'Heuvelland', 'Torhout', 'Olmen',
       'Waregem', 'Grobbendonk', 'Ronse', 'Beersel', 'Wetteren', 'Lillo',
       'Landen', 'Kalmthout', 'Tienen', 'Lochristi', 'Avelgem', 'Kanne',
       'Wilrijk', 'Eeklo', 'Zonhoven', 'Sint-Pieters-Voeren',
       'Hoogstraten', 'Sint-Pieters-Leeuw', 'Schoten', 'Lokeren',
       'Heist-op-den-Berg', 'Kapellen', 'Zoutleeuw', 'Lille', 'Kemmel',
       'Aarschot', 'Essen', 'Heverlee', 'Overpelt', 'Gierle', 'Beervelde',
       'Ekeren', 'Sint-Martens-Latem', 'Ninove', 'Berlare', 'Vleteren',
       'Stabroek', 'Wachtebeke', 'Bornem', 'Overijse', 'Lo-Reninge',
       'Neerpelt', 'Westouter', 'Rhode-Saint-Genese', 'Izegem',
       'Baarle-Hertog', 'Wevelgem', 'Bocholt', 'Brecht', 'Zolder',
       'Jabbeke', 'Zwevegem', 'Wilderen', 'Sint-Michiels', 'Mortsel',
       'Melle', 'Laakdal', 'Gistel', 'Leopoldsburg', 'Westerlo', 'Lennik',
       'Hingene', 'Temse', 'Passendale', 'Opoeteren', 'Hamme', 'Ursel',
       'Oostkamp', 'Borsbeek', 'Merksplas', 'Lissewege', 'Gullegem',
       'Oosterzele', 'Brakel', 'Koksijde Bad', 'Balen', 'Koersel',
       'Helchteren', 'Kampenhout', 'Zottegem', 'Kaulille', 'Langemark',
       'Koekelare', 'Buggenhout', 'Hoegaarden', 'Tielt Winge',
       'Dranouter', 'Alveringem', 'Tielt', 'Kluisbergen-Ruien',
       'Zedelgem', 'Wortegem-Petegem', 'Kallo', 'Teuven', 'Merelbeke',
       'Hamont-Achel', 'Kinrooi', 'Dworp', 'Hoeselt',
       'Sint-Katelijne-Waver', 'Beernem', 'Holsbeek', 'Tremelo', 'Aalter',
       'Hechtel-Eksel', 'Boezinge', 'Drogenbos', 'Neeroeteren',
       'Averbode', 'Drongen', 'Duffel', 'Kruishoutem', 'Haacht',
       'Herselt', 'Harelbeke', 'Zoersel', 'Wijtschate', 'Diepenbeek',
       'Hulst', 'Alken', 'Meeuwen-Gruitrode', 'Wezembeek-Oppem',
       'Scherpenheuvel', 'Keiem', 'Oudenburg', 'Erembodegem',
       'Keerbergen', 'Sint Andries', 'Houthulst', 'Lummen', 'Poppel',
       'Wervik', 'Hemiksem', 'Sint-Amands', 'Rekem', 'Kraainem',
       'Blaasveld', 'Mesen', 'Herk-de-Stad', 'Asse', 'Ternat', 'Roosdaal',
       'Zwalm', 'Haaltert', 'Strombeek-Bever', 'Rumbeke', 'Oostmalle',
       'Ename', 'Vorselaar', 'Gooik', 'Bellegem', 'Deurle', 'Alsemberg',
       'Merksem', 'Berlaar', 'Nevele', 'Vosselaar', 'Assenede', 'Hove',
       'Sint-Laureins', 'Wakken', 'Anzegem', 'Poelkapelle', 'Lozer',
       'Zuienkerke', 'Knesselare', 'Oostvleteren', 'Denderleeuw',
       'Itterbeek', 'Herzele', 'Hooglede', 'Halen', 'Oud-Heverlee',
       'Lembeke', 'Beselare', 'Heule', 'Pittem', 'Tildonk', 'Waarschoot',
       'Borlo', 'Oeselgem', 'Bonheiden', 'Hofstade', 'Oordegem',
       'Ruiselede', 'Linter', 'Herenthout', 'Vlissegem', 'Kaprijke',
       'Sint-Genesius-Rode', 'Meersel', 'Gors-Opleeuw', 'Dentergem',
       'Zichem', 'Boekhoute', 'Oevel', 'De Pinte', 'Vlamertinge',
       'Zandvoorde', 'Steenhuffel', 'As', 'Moerzeke', 'Sint-Pieters-Rode',
       'Bever', 'Poeke', 'Moerbrugge', 'Meer', 'Welle', 'Waterloo',
       'Wavre', 'La Roche-en-Ardenne', 'Mons', 'Durbuy', 'Dinant',
       'Vielsalm', 'Spa', 'Chimay', 'Luik', 'Stavelot',
       'Hainaut Province', 'Han-sur-Lesse', 'Rochefort', 'Huy', 'Tournai',
       'Verviers', 'Charleroi', 'Coo', 'Namen', 'Louvain-la-Neuve',
       'Bastogne', 'Provincie Luik', 'Brugelette', 'Francorchamps',
       'Arlon', "Braine-l'Alleud", 'Belgisch Luxemburg', 'Houffalize',
       'Froidchapelle', 'Eupen', 'Saint-Hubert', 'Waimes', 'Lasne',
       'Messancy', 'Manhay', 'Marche-en-Famenne', 'Hotton', 'Ovifat',
       'La Hulpe', 'Chaudfontaine', 'Barvaux', 'Theux', 'Nivelles',
       'La Louviere', 'Mouscron', 'Transinne', 'Couvin',
       'Vresse-sur-Semois', 'Malmedy', 'Eben-Emael', 'Butgenbach',
       'Bouillon', 'Sougne-Remouchamps', 'Alle-sur-Semois', 'Thuin',
       'Jalhay', 'Nonceveux', 'Nismes', 'Comines-Warneton', 'Genval',
       'Rochehaut', 'Achouffe', 'Ottignies-Louvain-la-Neuve', 'Falaen',
       'Ciney', 'Chevetogne', 'Trois Ponts', 'Neufchateau', 'Aywaille',
       'Virton', 'Braine-Le-Comte', 'Hockai', 'Seraing', 'Enghien',
       'Mariembourg', 'Redu', 'Houyet', 'Gouvy', 'Denee', 'St Vith',
       'Aubel', 'Libramont', 'Libin', 'La Gleize', 'Ploegsteert',
       'Ferrieres', 'Ath', 'Gembloux', 'Bievre', 'Florenville', 'Beloeil',
       'Villers-la-ville', 'Florenvill', 'Banneux', 'Orval',
       'Annevoie-Rouillon', 'Beauraing', 'Sourbrodt', 'Yvoir', 'Ans',
       'Esneux', 'Dour', 'Rendeux', 'Blegny', 'Ellezelles', 'Gerpinnes',
       'Vise', 'Modave', 'Amay', 'Philippeville', 'Fosses-la-Ville',
       'Braives', 'Lessines', 'Anhée', 'Flemalle', 'Pipaix', 'Herbeumont',
       'Gosselies', 'Crupet', 'Andenne', 'Walcourt', 'Jodoigne',
       'Seneffe', 'Comblain-au-Pont', 'Temploux', 'Spy', 'Le Roeulx',
       'Louette-St-Pierre', 'Tellin', 'Waremme', 'Herve', 'Frameries',
       'Mirwart', 'Jemeppe-sur-Sambre', 'Treignes', 'Wepion', 'Floreffe',
       'Lavaux-Sainte-Anne', 'Genappe', 'Henri-Chapelle',
       'Leuze-en-Hainaut', 'Weris', 'Battice', 'Peruwelz',
       'Belgische Ardennen', 'Boussu', 'Corbion sur Semois', 'Basecles',
       'Soumagne', 'Binche', 'Jambes', 'Courcelles', 'Helecine',
       'Hastiere-Lavaux', 'Florennes', 'Mettet', 'Assesse', 'Soignies',
       'Herstal', 'Wanze', 'Buellingen', 'Thimister-Clermont',
       'Pepinster', 'Celles', 'Falmignoul', 'Fleurus', 'Waulsort',
       'Dalhem', 'Nandrin', 'Maredret', 'Saint-Ghislain', 'Laken',
       'Houdeng-Goegnies', 'Bernissart', 'Lustin', 'Izier',
       'Bouvignes-sur-Meuse', 'Morlanwelz', 'Quievrain', 'Montleban',
       'Loverval', 'Neupre', 'Rebecq Rognon', 'Ittre', 'Chatelet',
       'Maissin', 'Raeren', 'Barchon', 'Flobecq', 'Chassepierre',
       'Braine-Le-Chateau', 'Forge-Philippe', 'Recogne (Bastogne)',
       'Embourg', 'Xhoris', 'Ambleve', 'Aiseau-Presles',
       'Jemeppe-sur-Meuse', 'Ecaussinnes', 'Fexhe-le-Haut-Clocher',
       'Ligneuville', 'Vierves-sur-Viroin', 'Frasnes-lez-Buissenal',
       'Chievres', 'Lobbes', 'Romeree', 'Perwez', 'Etalle', 'Olne',
       'Salmchateau', 'Emines', 'Ohey', 'Antoing', 'Focant', 'Ragnies',
       'Bleharies', 'Noville', 'Sohier', 'Houx', 'Boussu-lez-Walcourt',
       'Natoye', 'Juprelle', 'Ghlin', 'Latour', 'Moresnet-Chapelle',
       'Ligny', 'Wiers', 'Barbencon', 'Sivry', 'Colfontaine', 'Jumet',
       'Chastre', 'Rouvroy', 'Bierges', 'Leglise', 'La Calamine',
       'Meix-devant-Virton', 'Hensies', 'Saint-Mard', 'Boncelles',
       'Racour', 'Recogne (Neufchateau)', 'Oupeye', 'Grâce-Hollogne'],
      dtype=object)

In [383]:
reviews.loc[(reviews.locatie == 'Brussel') & (reviews.locatie_reviewer.str.contains('Bruxelles')), "local"] = True

In [384]:
reviews.loc[(reviews.locatie == 'Brussel') & (reviews.locatie_reviewer.str.contains('bruxelles')), "local"] = True

In [385]:
reviews.loc[(reviews.locatie == 'Brugge') & (reviews.locatie_reviewer.str.contains('Bruges')), "local"] = True

In [386]:
reviews.loc[(reviews.locatie == 'Brugge') & (reviews.locatie_reviewer.str.contains('bruges')), "local"] = True

In [387]:
reviews.loc[(reviews.locatie == 'Antwerpen') & (reviews.locatie_reviewer.str.contains('Antwerp')) & (reviews.local == False), "local"] = True

In [388]:
reviews.loc[(reviews.locatie == 'Antwerpen') & (reviews.locatie_reviewer.str.contains('Anvers')), "local"] = True

In [389]:
reviews.loc[(reviews.locatie == 'Antwerpen') & (reviews.locatie_reviewer.str.contains('anvers')), "local"] = True

In [390]:
reviews.loc[(reviews.locatie == 'Gent') & (reviews.locatie_reviewer.str.contains('Ghent')), "local"] = True

In [391]:
reviews.loc[(reviews.locatie == 'Gent') & (reviews.locatie_reviewer.str.contains('ghent')), "local"] = True

In [392]:
reviews.loc[(reviews.locatie == 'Oostende') & (reviews.locatie_reviewer.str.contains('Ostend')), "local"] = True

In [393]:
reviews.loc[(reviews.locatie == 'Leuven') & (reviews.locatie_reviewer == 'Louvain'), "local"] = True

In [394]:
reviews.loc[(reviews.locatie == 'Leuven') & (reviews.locatie_reviewer == 'louvain'), "local"] = True

In [395]:
reviews.loc[(reviews.locatie == 'Ieper (Ypres)') & (reviews.locatie_reviewer.str.contains('Ieper')) & (reviews.local == False), "local"] = True

In [396]:
reviews.loc[(reviews.locatie == 'Ieper (Ypres)') & (reviews.locatie_reviewer.str.contains('Ypres')) & (reviews.local == False), 'local'] = True

In [397]:
reviews[(reviews.locatie == 'Mechelen') & (reviews.locatie_reviewer.str.contains('Malines'))]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [398]:
reviews[(reviews.locatie == 'De Panne') & (reviews.locatie_reviewer.str.contains('Panne')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [399]:
reviews[(reviews.locatie == 'Kortrijk') & (reviews.locatie_reviewer.str.contains('Courtrai')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [400]:
reviews[(reviews.locatie == 'Tongeren') & (reviews.locatie_reviewer.str.contains('Tongres')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [401]:
reviews[(reviews.locatie == 'Nieuwpoort') & (reviews.locatie_reviewer.str.contains('Nieuport')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [402]:
reviews[(reviews.locatie == 'De Haan') & (reviews.locatie_reviewer.str.contains('coq-sur-mer')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [403]:
reviews = reviews.replace('Vlaams-Brabant', 'Beersel')

In [404]:
reviews[(reviews.locatie == 'Groot-Bijgaarden') & (reviews.locatie_reviewer.str.contains('Grand-Bigard')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [405]:
reviews[(reviews.locatie == 'Roeselare') & (reviews.locatie_reviewer.str.contains('Roulers')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [406]:
reviews[(reviews.locatie == 'Koksijde') & (reviews.locatie_reviewer.str.contains('Coxyde')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [407]:
reviews[(reviews.locatie == 'Aalst') & (reviews.locatie_reviewer.str.contains('Alost')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [408]:
reviews[(reviews.locatie == 'Sint-Niklaas') & (reviews.locatie_reviewer.str.contains('Saint-Nicolas')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [409]:
reviews[(reviews.locatie == 'Lier') & (reviews.locatie_reviewer.str.contains('Lierre')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [410]:
reviews[(reviews.locatie == 'Sint-Truiden') & (reviews.locatie_reviewer.str.contains('Saint-Trond')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [411]:
reviews[(reviews.locatie == 'Oudenaarde') & (reviews.locatie_reviewer.str.contains('Audenaerde')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [412]:
reviews[(reviews.locatie == 'Borgloon') & (reviews.locatie_reviewer.str.contains('Looz')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [413]:
reviews[(reviews.locatie == 'Diksmuide') & (reviews.locatie_reviewer.str.contains('Dixmude')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [414]:
reviews.loc[(reviews.locatie == 'Geraardsbergen') & (reviews.locatie_reviewer.str.contains('Grammont')) & (reviews.local == False), "local"] = True

In [415]:
reviews[(reviews.locatie == 'Veurne') & (reviews.locatie_reviewer.str.contains('Furnes')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [416]:
reviews[(reviews.locatie == 'Menen') & (reviews.locatie_reviewer.str.contains('Furnes')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [417]:
reviews[(reviews.locatie == 'Dendermonde') & (reviews.locatie_reviewer.str.contains('Termonde')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [418]:
reviews[(reviews.locatie == 'Kasterlee') & (reviews.locatie_reviewer.str.contains('Casterlé')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [419]:
reviews[(reviews.locatie == 'Maldegem') & (reviews.locatie_reviewer.str.contains('Middelbourg')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [420]:
reviews[(reviews.locatie == 'Ronse') & (reviews.locatie_reviewer.str.contains('Renaix')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [421]:
reviews[(reviews.locatie == 'Tienen') & (reviews.locatie_reviewer.str.contains('Tirlemont')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [422]:
reviews[(reviews.locatie == 'Sint-Pieters-Voeren') & (reviews.locatie_reviewer.str.contains('Fourons-Saint-Pierre')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [423]:
reviews[(reviews.locatie == 'Zoutleeuw') & (reviews.locatie_reviewer.str.contains('Léau')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [424]:
reviews[(reviews.locatie == 'Heverlee') & (reviews.locatie_reviewer.str.contains('Héverlé')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [425]:
reviews[(reviews.locatie == 'Sint-Martens-Latem') & (reviews.locatie_reviewer.str.contains('Laethem-Saint-Martin')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [426]:
reviews[(reviews.locatie == 'Overijse') & (reviews.locatie_reviewer.str.contains('Isque')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [427]:
reviews[(reviews.locatie == 'Rhode-Saint-Genése') & (reviews.locatie_reviewer.str.contains('Sint-Genesius-Rode')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [428]:
reviews[(reviews.locatie == 'Baarle-Hertog') & (reviews.locatie_reviewer.str.contains('Baerle-Duc')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [429]:
reviews[(reviews.locatie == 'Sint-Michiels') & (reviews.locatie_reviewer.str.contains('Saint Michel')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [430]:
reviews[(reviews.locatie == 'Gistel') & (reviews.locatie_reviewer.str.contains('Ghistelles')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [431]:
reviews[(reviews.locatie == 'Leopoldsburg') & (reviews.locatie_reviewer.str.contains('Bourg-Léopold')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [432]:
reviews[(reviews.locatie == 'Temse') & (reviews.locatie_reviewer.str.contains('Tamise')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [433]:
reviews[(reviews.locatie == 'Balen') & (reviews.locatie_reviewer.str.contains('Baelen')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [434]:
reviews[(reviews.locatie == 'Dworp') & (reviews.locatie_reviewer.str.contains('Tourneppe')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [435]:
reviews[(reviews.locatie == 'Sint-Katelijne-Waver') & (reviews.locatie_reviewer.str.contains('Wavre-Saint-Cathérine')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [436]:
reviews[(reviews.locatie == 'Aalter') & (reviews.locatie_reviewer.str.contains('Aeltre')) & (reviews.local == False)]

Empty DataFrame
Columns: [locatie, attractie, locatie_reviewer, local]
Index: []

In [437]:
reviews.loc[(reviews.locatie == 'Luik') & (reviews.locatie_reviewer.str.contains('Liège')) & (reviews.local == False), "local"] = True

In [438]:
reviews.loc[(reviews.locatie == 'Luik') & (reviews.locatie_reviewer.str.contains('liège')) & (reviews.local == False), "local"] = True

In [439]:
reviews.loc[(reviews.locatie == 'Namen') & (reviews.locatie_reviewer.str.contains('Namur')) & (reviews.local == False), "local"] = True

In [440]:
reviews.loc[(reviews.locatie == 'Namen') & (reviews.locatie_reviewer.str.contains('namur')) & (reviews.local == False), "local"] = True

In [441]:
reviews.groupby('attractie').apply(lambda x: sum(x['local']))

attractie
'T Gaverhopke                           13
'T Kuipke                                0
'T Zand                                 25
't Gasthuys - Stedelijk Museum Aalst    10
't Grom                                  1
                                        ..
Église Saint-Nicolas-en-Havré            4
Église Saint-Sulpice de Jumet            1
Église Sainte-Marguerite de Tournai      1
Église Saints-Pierre-et-Paul             4
Мaison des Ducs de Brabant               0
Length: 2832, dtype: int64

In [442]:
grouped = reviews.groupby(['locatie', 'attractie']).agg({'local': 'sum', 'locatie_reviewer': 'count'}).reset_index()

In [443]:
grouped['pct'] = grouped['local'] / grouped['locatie_reviewer'] * 100

In [444]:
grouped.pct = grouped.pct.round(0)

In [445]:
gemiddeld = grouped.pct.mean()

In [446]:
print(gemiddeld)

18.8856050069541

In [447]:
grouped[grouped.pct > gemiddeld]

,locatie,attractie,local,locatie_reviewer,pct
0,Aalst,'t Gasthuys - Stedelijk Museum Aalst,10.0,27,37.0
1,Aalst,Belfort,20.0,46,43.0
2,Aalst,Carnival of Aalst,10.0,23,43.0
3,Aalst,Dender Bicycle Trails,9.0,21,43.0
4,Aalst,Jesuit Church,4.0,7,57.0
...,...,...,...,...,...
2867,Zoutleeuw,St Leonard's Church,4.0,19,21.0
2868,Zuienkerke,Poldermolen Meetkerke,1.0,2,50.0
2871,Zutendaal,Openluchtzwembad `t Soete Dal,1.0,4,25.0
2874,Zwevegem,Bevergemroute in Sint-Denijs,2.0,4,50.0
2875,Zwevegem,Mortiers Molen,1.0,2,50.0

In [448]:
reviews.attractie.nunique()

2832

In [449]:
merged = pd.merge(grouped, attracties, on=['locatie', 'attractie'], how='inner')

In [450]:
merged.attractie.nunique()

2832

In [451]:
locaties = pd.read_csv('locaties.csv')

In [452]:
locaties = locaties.drop_duplicates()

In [453]:
locaties = locaties[locaties.latitude != 0.0]

In [454]:
final_merge = pd.merge(merged, locaties, on=['locatie', 'attractie'], how='outer', indicator='datasets')

In [455]:
final_merge[(final_merge.duplicated()) & (final_merge.datasets == 'both') & (final_merge.attractie != 'Onbekende attractie')]

Empty DataFrame
Columns: [locatie, attractie, local, locatie_reviewer, pct, aantal_reviews, rating, adres, latitude, longitude, datasets]
Index: []

In [456]:
final_merge[(final_merge.latitude == 0.0) & (final_merge.datasets == 'both') & (final_merge.pct > gemiddeld) & (final_merge.attractie != 'Onbekende attractie')]

Empty DataFrame
Columns: [locatie, attractie, local, locatie_reviewer, pct, aantal_reviews, rating, adres, latitude, longitude, datasets]
Index: []

In [457]:
final_merge = final_merge.drop_duplicates()

In [458]:
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3305 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   locatie           3305 non-null   object
 1   attractie         3305 non-null   object
 2   local             2892 non-null   float64
 3   locatie_reviewer  2892 non-null   float64
 4   pct               2892 non-null   float64
 5   aantal_reviews    2892 non-null   float64
 6   rating            2892 non-null   float64
 7   adres             2702 non-null   object
 8   latitude          2702 non-null   float64
 9   longitude         2702 non-null   float64
 10  datasets          3305 non-null   category
dtypes: category(1), float64(7), object(3)
memory usage: 287.4+ KB

In [459]:
len(final_merge[final_merge.pct > gemiddeld])

1087

In [463]:
final_merge[(final_merge.attractie.duplicated(keep=False)) & (final_merge.datasets == 'both')]

,locatie,attractie,local,locatie_reviewer,pct,aantal_reviews,rating,adres,latitude,longitude,datasets
1,Aalst,Belfort,20.0,46.0,43.0,52.0,4.5,"Grote Markt, Aalst 9300 België",50.938278,4.039421,both
8,Aalst,Sint-Martinuskerk,29.0,57.0,51.0,63.0,4.3,"Priester Daensplein, Aalst 9300 België",50.937558,4.040555,both
10,Aalst,Stadspark,16.0,33.0,48.0,39.0,4.4,"Parklaan, Aalst 9300 België",50.932864,4.045915,both
51,Antwerpen,Beguinage,23.0,121.0,19.0,130.0,4.4,"Rodestraat 39, Antwerpen 2000 België",51.222640,4.414329,both
82,Antwerpen,Grote Markt,276.0,2928.0,9.0,3225.0,4.5,Antwerpen 2800 België,51.221110,4.399708,both
...,...,...,...,...,...,...,...,...,...,...,...
2705,Tournai,Grand Place,11.0,59.0,19.0,70.0,4.2,Onbekend adres,50.606238,3.386266,both
2743,Turnhout,Saint Peter's Church,8.0,34.0,24.0,36.0,4.3,"Grote Markt 44, Turnhout 2300 België",51.322581,4.950118,both
2749,Verviers,Hotel de ville,13.0,28.0,46.0,32.0,4.0,"Place du Marché 55, Verviers België",50.593457,5.867593,both
2767,Veurne,Town Hall,6.0,69.0,9.0,76.0,4.6,"Grote Markt 29, Veurne 8630 België",51.072848,2.661729,both
2876,Xhoris,Musee de la Vie Rurale,0.0,3.0,0.0,3.0,4.3,"Route de Hamoir 34, Xhoris, Ferrieres 4190 België",50.445543,5.603963,both